<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>Title</title>

</head>

<body>

    <div th:fragment="samplefooter">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- static 경로는 기본적으로 제공하기에 static을 제외한 js 경로부터 작성 -->
        <script th:src="@{/js/app/index.js}" defer></script>
    </div>

</body>
</html>